#header, #footer, #content {
    position: absolute;
    left: 0;
    width: 100%;
}

#header, #footer {
    overflow: hidden; 
    background: #444;
    height: 100px;
}

#header {
    top: 0;
}

#content {
    top: 100px;
    bottom: 100px;
    overflow: auto;
    background: #CCC;
}

#footer {
    bottom: 0;
}​